<buildconfig>
<vmName>Turbo7x64</vmName>
<installScriptPath>C:\spoon\spoonme\powerbi\powerbi\install.ps1</installScriptPath>
<preInstallScriptPath></preInstallScriptPath>
<postSnapshotScriptPath>C:\spoon\spoonme\powerbi\powerbi\post_snapshot.ps1</postSnapshotScriptPath>
<mountDirectoryPath></mountDirectoryPath>
<overwrite></overwrite>
</buildconfig>