<buildconfig>
<vmName>Turbo7x86</vmName>
<installScriptPath>C:\spoon\spoonme\chromium\canary\install.ps1</installScriptPath>
<preInstallScriptPath></preInstallScriptPath>
<postSnapshotScriptPath>C:\spoon\spoonme\chromium\canary\post_snapshot.ps1</postSnapshotScriptPath>
<mountDirectoryPath></mountDirectoryPath>
<overwrite></overwrite>
</buildconfig>
