<buildconfig>
<vmName>Turbo7x64</vmName>
<installScriptPath>C:\spoon\spoonme\github\githubdesktop\install.ps1</installScriptPath>
<preInstallScriptPath></preInstallScriptPath>
<postSnapshotScriptPath>C:\spoon\spoonme\github\githubdesktop\post-snapshot.ps1</postSnapshotScriptPath>
<mountDirectoryPath></mountDirectoryPath>
<overwrite></overwrite>
</buildconfig>
